<!DOCTYPE html>
<html lang="en">
 <!-- navbar with ejs include synthax -->
 <%- include('./partials/head.ejs') %>
<body>
      <!-- navbar with ejs include synthax -->
     <%- include('./partials/nav.ejs') %>
    <div class="text-center">
        <h2>About</h2>
    </div>
<!-- navbar with ejs include synthax -->
<%- include('./partials/footer.ejs') %>